// These styles are specifically for Pattern Lab.

.sg-main {
  padding: 0 4%;
  font-family: $pt-serif;
}

.sg-tabs-panel {
  min-height: 25em !important;
}

.sg-pattern-extra-code {
  width: 100% !important;
}

.sg-pattern-extra-code .language-markup {
  font-size: 85% !important;
}

#sg-patterns {
  .sg-subtype h2 {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    clear: both;
    background: $light-gray;
    @include breakout;
    padding: 6px 0 4px 4.5%;
    margin-top: 2.5em;
    a {
      color: $dark-tealish;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: darken($dark-tealish, 8%);
      }
    }
  }
  .sg-subtype:first-child h2 {
    margin-top: 0;
  }
}

.sg-pattern-title a {
  font-family: $montserrat !important;
  color: $dark-gray;
  font-size: 1.375rem;
  text-transform: uppercase;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: auto;
    padding: 0.3em;
    margin: 0 0.3em 1em;
    min-width: 8.5em;
    max-width: 9.5em;
  }

  &__sample {
    display: block;
    height: 100px;
    margin-bottom: 0.3em;
    border: 1px solid $medium-gray;
  }
}

.sg-colors__info code {
  border: none;
  background: none;
  font-size: 15px;
}

.sg-typography {
  display: flex;
  flex-wrap: wrap;

  .sg-typography__group {
    padding: 1em 0.25em;
    min-width: 40%;

    .sg-info {
      padding: 10px;
      font-size: 30px;
    }
  }
}

#viewall-base-utils {
  display: none;
}
