$lightblue: #02a0e4;
$midblue: #0175a7;
$navy: #0a2240;
$tealish: #50c4b7;
$dark-tealish: #189a90;
$salmon: #ff8568;
$dark-salmon: #e36c4f;
$gold: #ffba02;
$white: #fefefe;
$grayish: #f4f4f4;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #6e6e6e;
$black: #0a0a0a;
